.netrwhist
npm-debug.log

plug.vim.old

config/nvim/spell
config/nvim/shada
config/nvim/plugged
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
bash_install_report.txt
backup.log
backuperr.log
ipython.symlink/*
*.otf
